* {
    font-family: monospace;
    text-align: center;
    justify-content: center;
    align-items: center;
}
h1{
    color: white;
}
body{
    background: radial-gradient(black, rgb(43, 43, 43))
}
.boton{
    background: radial-gradient(red, rgb(175, 0, 0));
    border: 5px outset black;
    border-radius: 100%;
    box-shadow: 0px 0px 3px 2px black;
    margin-top: 50%;
    width: 100px;
    height: 100px;
    transition: width 0.6s, height 0.6s, border 0.2s, transform 0.5s, background 0.6s, box-shadow 0.2s;
}
.boton:active{
    background: radial-gradient(red, rgb(150, 0, 0));
    border: 8px outset black;
    box-shadow: 0px 0px 4px 3px black;
    width: 95px;
    height: 95px;
    transform: rotate(20deg);
    transition: width 0.3s, height 0.3s, border 0.1s, transform 0.2s, background 0.5s, box-shadow 0.2s;
}
.buttonpanel{
    margin: auto;
    background: radial-gradient(rgb(155, 155, 155), gray);
    border: 4px dotted black;
    box-shadow: 0px 0px 4px 4px rgb(155, 155, 155);
    width: 50vh;
    height: 75vh;
    justify-content: center;
    align-items: center;
}
.shopopen{
    color: white;
    background: radial-gradient(black, rgb(62, 91, 109));
    border: 5px double rgb(109, 167, 204);
    border-radius: 2px;
    box-shadow: 0px 0px 1px 1px rgb(109, 167, 204);
    transition: width 0.3s, height 0.3s, box-shadow 0.3s;
}
.shopopen:active{
    color: white;
    background: radial-gradient(black, rgb(62, 91, 109));
    border: 6px double rgb(109, 167, 204);
    border-radius: 3px;
    box-shadow: 0px 0px 2px 2px rgb(109, 167, 204);
    transition: width 0.3s, height 0.3s, box-shadow 0.3s;
}
.vipshopopen{
    color: black;
    background: radial-gradient(gold, goldenrod);
    border: 5px outset goldenrod;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 2px rgb(255, 255, 136);
    margin: 0.4%;
    transition: width 0.3s, height 0.3s, box-shadow 0.3s;
}
.vipshopopen:active{
    color: black;
    background: radial-gradient(gold, goldenrod);
    border: 6px outset goldenrod;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 3px rgb(255, 255, 136);
    transition: width 0.3s, height 0.3s, box-shadow 0.3s;
}
.closedshop{
    display: none;
}
.secshoplocked{    
    color: white;
    background: radial-gradient(rgb(0, 29, 5), rgb(0, 82, 48));
    border: 5px double rgb(0, 51, 27);
    border-radius: 2px;
    box-shadow: 0px 0px 1px 1px rgb(0, 255, 138);
    transition: width 0.3s, height 0.3s, box-shadow 0.3s;
}
.secshopopen{
    color: white;
    background: radial-gradient(rgb(0, 131, 22), rgb(0, 82, 48));
    border: 5px double rgb(0, 255, 138);
    border-radius: 2px;
    box-shadow: 0px 0px 1px 1px rgb(0, 255, 138);
    transition: width 0.3s, height 0.3s, box-shadow 0.3s;
}
.secshopopen:active{
    color: white;
    background: radial-gradient(rgb(0, 131, 22), rgb(0, 82, 48));
    border: 6px double rgb(0, 255, 138);
    border-radius: 3px;
    box-shadow: 0px 0px 2px 2px rgb(0, 255, 138);
    transition: width 0.3s, height 0.3s, box-shadow 0.3s;
}
.shoppanel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.secshoppanel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.vipshoppanel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.shop{
    color: white;
    background: radial-gradient(black, rgb(62, 91, 109));
    border: 5px double rgb(109, 167, 204);
    border-radius: 2px;
    box-shadow: 0px 0px 1px 1px rgb(109, 167, 204);
    margin: 0.5%;
    padding: 1%;
    width: 250px;
    height: 150px;
    transition: width 0.3s, height 0.3s, box-shadow 0.3s;
}
.secshop{
    color: white;
    background: radial-gradient(rgb(0, 131, 22), rgb(0, 82, 48));
    border: 5px double rgb(0, 255, 128);
    border-radius: 2px;
    box-shadow: 0px 0px 1px 1px rgb(0, 255, 82);
    margin: 0.5%;
    padding: 1%;
    width: 250px;
    height: 150px;
    transition: width 0.3s, height 0.3s, box-shadow 0.3s;
}
.shop:active{
    background: radial-gradient(black, rgb(62, 91, 109));
    border: 5px double cyan;
    border-radius: 3px;
    box-shadow: 0px 0px 4px 3px cyan;
    margin: 0.5%;
    width: 240px;
    height: 140px;
    transition: width 0.3s, height 0.3s, box-shadow 0.3s;
}
.shopbought{
    color: white;
    background: radial-gradient(black, rgb(14, 20, 24));
    border: 5px double rgb(50, 54, 56);
    border-radius: 2px;
    box-shadow: 0px 0px 2px 2px brown;
    margin: 0.5%;
    width: 250px;
    height: 150px;
    transition: width 0.3s, height 0.3s, box-shadow 0.3s;
}
.vipshop{
    color: black;
    background: radial-gradient(gold, goldenrod);
    border: 6px outset goldenrod;
    border-radius: 2px;
    box-shadow: 0px 0px 4px 4px rgb(255, 255, 136);
    margin: 0.5%;
    width: 250px;
    height: 150px;
    transition: width 0.3s, height 0.3s, box-shadow 0.3s;
}
.vipshop:active{
    color: black;
    background: radial-gradient(gold, goldenrod);
    border: 6px outset goldenrod;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 5px rgb(255, 255, 136);
    width: 240px;
    height: 140px;
    transition: width 0.3s, height 0.3s, box-shadow 0.3s;
}
.vipbought{
    color: black;
    background: radial-gradient(rgb(138, 119, 15), rgb(92, 67, 5));
    border: 6px outset rgb(122, 92, 15);
    border-radius: 2px;
    box-shadow: 0px 0px 2px 2px brown;
    margin: 0.5%;
    width: 250px;
    height: 150px;
    transition: width 0.3s, height 0.3s, box-shadow 0.3s;
}
